<ion-content id="category"  cache-view="false">
    <header id="header">
    </header>
    <nav id="nav">
      <ul>
        <li *ngFor="let item of rankinglist, let i = index" (click)="categoryLeftClick(i);getCategoryDetailData(item);">
          <span [ngClass]="{true:'nav-current',false:'nav-blur'}[item.isSelect]" style="font-size: 11px">{{item.sortName}}</span>
        </li>
      </ul>
    </nav>
    <div id="pro">
      <div class="pro-scroll">
        <div class="pro-warp">
          <div class="content">
            <div id="manlist" class="content-body">
              <ion-grid>
                <ion-row >
                  <ion-col col-6 *ngFor="let item of chapter_list, let i = index" (click)="startPage(item)">
                    <img class="h120" src="{{item.cover}}">
                    <p class="aligncnter fz12">{{item.name}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
