<ion-content id="category">
    <!-- <header id="header">
      <ion-title>排行榜</ion-title>
    </header> -->
     <ion-segment #mySlider [(ngModel)]="selectedSegment" color="primary">
        <ion-segment-button *ngFor="let tab of rankinglist, let i = index" value="tab.rankingName" (ionSelect)="selectedFriends(i)">
            {{tab.rankingName}}
        </ion-segment-button>
    </ion-segment> 

    <ion-content class="good_list">
        <ion-list style="background-color: #F6F6F6;">
            <ion-item style="padding-right: 5%;padding-left: 5%;" ion-item *ngFor="let item of rankinglist">
                <img item-left src="{{item.cover}}" style="width: 40%;height: 94px;">
                <h2>{{item.rankingName}}</h2>
                <p>{{item.rankingDescription1}}</p>
                <p>{{item.rankingDescription2}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-content>